<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="icon" th:href="@{/img/logo.png}" />
        <title>User Dashboard - Mentor Application</title>
    </head>
    <body>
        <th:block th:include="user/layout/header" />

        <div class="container">
            <div>
                <h2 class="display-4 my-3">Mentor Application</h2>
                <form class="form-horizontal" th:action="@{/user/mentor/application2}" method="post">
                    <input name="subjectId" type="hidden" class="form-control lead" th:value="${subjectId}" />
                    <input name="description" type="hidden" class="form-control lead" th:value="${description}" />

                    <div class="form-group" th:if="${not #lists.isEmpty(subSubjects)}">
                        <label class="col-sm-2 control-label lead" for="subSubjects">SubSubjects: </label>
                        <div class="col-sm-10">
                            <select multiple name="subSubjects" class="form-control" id="subSubjects" size="10">
                                <option th:each="subSubject : ${subSubjects}" th:text="${subSubject.getId() + ' ' + subSubject.getName()}">
                                    SubSubjects
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>